.my-modal {
    background: rgb(234, 210, 172);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 300px;
    height: 300px;
    padding: 20px;
    text-align: center;
    border-radius: 12px;
   }

   .my-modal input {
    border-radius: 4px;
    width: 60%;
   }
   .my-modal button {
       margin-top: 5px;
       background-color: rgb(255,159,28);
       border-radius: 4px;
       font-size: 24px;
   }

   .my-modal h1{
    font-family: 'Lato', sans-serif;
   }

   .my-modal p{
    font-family: 'Lato', sans-serif;
   }
